<tr class="whitespace-nowrap">
  <td class="px-6 py-4 text-sm text-gray-500">{{.ID}}</td>
  <td class="px-6 py-4">
    <div class="text-sm text-gray-900">{{.Name}}</div>
  </td>
  <td class="px-6 py-4">
    <div class="text-sm text-gray-500">{{.Email}}</div>
  </td>
  <td class="px-6 py-4 text-sm text-gray-500">{{.UpdatedAt}}</td>
  <td class="px-6 py-4">
    <a
      href="#"
      class="px-4 py-1 text-sm text-indigo-600 bg-indigo-200 rounded-full"
      >Edit</a
    >
  </td>
  <td class="px-6 py-4">
    <a href="#" class="px-4 py-1 text-sm text-red-400 bg-red-200 rounded-full"
      >Delete</a
    >
  </td>
</tr>
